@retro-red: #991523;
@retro-blue: #013a45;
@light-sand: #f8f2e4;
@dark-sand: #a17c60;

body {
    font-family: 'Work Sans', sans-serif; 
}
.info-bar {
    width: 1080px;
    height: 98px;
    border-radius: 10px;
    background: @retro-red;
    margin: 75px auto 0 auto;
    text-align: center;
    h1 {
        color: #FEFEFE;
        font-size: 48px;
        font-weight: normal;
        padding-top: 20px;
    }
}
.menu-gallery {
    width: 753px;
    margin: 24px auto 0 auto;
    text-align: center;
    .left-arrow {
        display: inline-block; 
        vertical-align: top;
        img {
            margin-top: 150px; 
        }
    }
    .right-arrow {
        display: inline-block; 
        vertical-align: top;
        img {
            margin-top: 150px; 
        }
    }
    .items {
        width: 700px;
        display: inline-block;
        vertical-align: top;
        .img {
            display: inline-block; 
            vertical-align: top;
            width: 178px;
            height: 116px;
            border-radius: 25px;
            background: @retro-blue;
            margin: 29px 25px;
            img {
                margin-top: 15px; 
            }
        }
    }
}
.banner-menu-sections {
    text-align: center;
    margin-top: 60px;
    .banner {
        width: 281px;
        height: 356px;
        border-radius: 10px;
        background: @retro-red; 
        display: inline-block;
        vertical-align: top;
    }
    .menu-sections {
        width: 787px;
        height: 356px;
        border-radius: 10px;
        background: @light-sand;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        .header {
            a {
                display: block;
                text-decoration: none;
                width: 232px;
                height: 50px;
                border-radius: 25px; 
                background: @retro-red;
                color: #FEFEFE;
                font-weight: normal;
                font-size: 36px; 
                padding-top: 5px;
                margin: 22px auto 0 auto;
                transition: all 0.5s;
                &:hover {
                    background: #FEFEFE;
                    color: @retro-red;
                }
            }
        }
        .sections {
            margin-top: 14px;
            h1 {
                display: inline-block;
                width: 184px;
                height: 42px; 
                background: @retro-red;
                border-radius: 10px;
                color: #FEFEFE;
                font-weight: normal; 
                font-size: 24px;
                text-align: center;
                padding-top: 8px;
                margin: 15px 32px;
                transition: all 0.5s;
                &:hover {
                    background: @retro-blue; 
                    cursor: pointer;
                    box-shadow: 0 0 15px rgba(0,0,0,0.5);
                }
            } 
        }
    }
}
.chief {
    width: 1086px;
    height: 336px;
    border-radius: 10px;
    background: @retro-blue;
    margin: 150px auto 0 auto; 
    padding: 1px;
    .header {
        width: 300px;
        height: 92px;
        border-radius: 25px;
        background: @light-sand;
        border: 1px solid @retro-blue;
        margin: -40px 0 0 726px;
        h1 {
            color: @retro-red; 
            font-weight: normal;
            text-align: center; 
            padding-top: 4px;
        }
    }
    .photo {
        width: 196px;
        position: relative;
        height: 234px;
        background: @light-sand; 
        border-radius: 25px;
        margin-left: 35px;
        display: inline-block;
        vertical-align: top;
        img {
            margin-top: -12px; 
            margin-left: -5px;
            transform: scale(0.9);
            border-radius: 10px;
        }
        h1 {
            display: block;
            width: 143px;
            height: 24px;
            background: @light-sand;
            text-align: center;
            border-radius: 11px;
            margin: -40px auto 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            color: @retro-blue;
            font-size: 18px;
            padding-top: 3px;
        }
    }
    .description {
        display: inline-block; 
        width: 705px;
        color: #FEFEFE;
        margin-left: 57px;
        h1 {
            text-align: center; 
        }
        p {
            text-align: left; 
            font-size: 24px;
        }
    }
}
.cooks-reviews {
    text-align: center;
    margin-top: 170px;
    .cooks, .reviews {
        width: 460px;
        height: 692px;
        border-radius: 25px;
        display: inline-block;
        vertical-align: top;
    }
    .cooks {
        background: @retro-red;
        margin-right: 32px;
        .header {
            a {
                display: block;
                width: 217px;
                height: 50px;
                border-radius: 25px;
                background: @light-sand; 
                border: 1px solid @retro-red;
                text-decoration: none;
                color: @retro-red;
                font-size: 30px;
                padding-top: 15px;
                margin: -33px auto 0 auto;
            } 
        }
        .top-arrow {
            margin-top: 20px; 
        } 
        .cook {
            width: 330px;
            height: 208px;
            background: @light-sand;
            border-radius: 25px;     
            padding: 1px;
            margin: 45px auto;
            .name {
                display: inline-block;
                vertical-align: top;
                width: 35px;
                height: 130px;
                background: @light-sand;
                border-radius: 10px;
                border: 1px solid @retro-red;
                margin-left: -20px;
                margin-top: 33px;
                p {
                    font-size: 18px;
                    color: @retro-red;
                }
                p:first-child {
                    margin-top: 20px; 
                }
            }
            .photo {
                display: inline-block; 
                width: 165px;
                height: 131px;
                border-radius: 25px;
                background: #FEFEFE;
                margin-top: 36px;
                margin-left: 10px;
                img {
                    transform: scale(0.75);
                    margin-top: -13px;
                }
            }
            .position {
                display: inline-block; 
                vertical-align: top;
                width: 102px;
                height: 38px;
                border-radius: 19px;
                background: @retro-red;
                margin-left: 15px;
                margin-top: 85px;
                h1 {
                    font-size: 20px;
                    font-weight: normal;
                    color: #FEFEFE;
                    margin-top: 5px; 
                }
            }
        }
    }
    .reviews {
        background: @retro-blue;
        margin-left: 32px;
        .top-arrow {
            margin-top: 40px; 
        }
        .wrapper {
            width: 328px;
            height: 228px;
            border-radius: 25px;
            margin: 26px auto;
            background: @light-sand; 
            .stars {
                display: inline-block; 
                vertical-align: top;
                margin-top: 20px;
                .star {
                    margin-top: -10px;
                    img {
                        transform: scale(0.8) 
                    } 
                }
            }

            p {
                display: inline-block; 
                vertical-align: top;
                width: 200px;
                font-size: 18px;
                text-align: left;
                margin-left: 13px;
                margin-top: 10px;
                color: @retro-blue;
            }
            .name {
                display: inline-block;
                vertical-align: top; 
                width: 45px;
                height: 150px;
                border-radius: 15px;
                background: @retro-blue;
                border: 1px solid #FEFEFE;
                margin: 36px -35px 0 35px;
                p {
                    color: #FEFEFE; 
                    margin: 0;
                    font-size: 24px;
                    margin-left: 14px;
                }
                p:first-child {
                    margin-top: 16px; 
                }
            }
        }
        .header {
            a {
                display: block;
                width: 287px;
                height: 52px;
                border-radius: 25px;
                background: @light-sand;
                border: 1px solid @retro-blue; 
                color: @retro-red; 
                text-decoration: none;
                font-size: 36px;
                padding-top: 7px;
                margin: 30px auto 0 auto;
            }
        }
    }
}

.feedback {
    width: 1085px;
    height: 460px;
    border-radius: 25px;
    border: 1px solid @retro-blue;
    background: @light-sand;
    margin: 234px auto 183px auto;
    text-align: center;

    .header {
        width: 388px;
        height: 86px;
        border-radius: 25px;
        background: @retro-red;       
        margin-top: -40px;
        margin-left: 625px;
        h1 {
            color: #FEFEFE; 
            font-weight: normal;
            font-size: 46px;
            text-align: center;
            padding-top: 13px;
        }
    }

    .block {
        display: inline-block;
        vertical-align: top; 
        margin: 50px 78px 0 78px;
        input {
            display: block; 
            font-size: 44px;
        }
        label {
            display: block; 
            font-size: 30px;
            text-align: left;
            margin-left: 15px;
            color: @retro-blue;
        }

        .hidden {
            display: none; 
        }

        .stars {
            .star {
                display: inline-block;
                vertical-align: top; 
                margin: 23px 11px 0 11px;
            } 
        }
        textarea {
            width: 377px;
            height: 137px;
            border-radius: 25px;
            border: 2px solid @retro-blue; 
            font-size: 20px; 
        }

    }

    .block:first-child {
        input {
            width: 341px;
            height: 73px;
            border-radius: 25px; 
            border: 1px solid @retro-blue;
        } 
        input:nth-child(4) {
            font-size: 24px; 
        } 
        label:nth-child(3) {
            margin-top: 54px; 
        }
    }

    .block:nth-child(2) {
        label:nth-child(4) {
            margin-top: 30px; 
        }
    }
}
