@retro-red: #991523;
@retro-blue: #013a45;
@light-sand: #f8f2e4;
@dark-sand: #a17c60;


body {
    font-family: 'Work Sans', sans-serif; 
    h1 {
        margin: 0; 
    }
}

.gallery-shop {
    margin-top: 86px;
    text-align: center;
    .gallery {
        width: 300px;
        height: 600px;
        border-radius: 10px;
        background: @retro-blue;
        padding: 1px;
        display: inline-block;
        vertical-align: top;

        .top-arrow {
            margin-top: 20px;
            text-align: center;
        }
        .bottom-arrow {
            margin-top: 20px;
            text-align: center; 
        }
        
        .img {
            margin-top: 20px;
            text-align: center;
            img {
                border-radius: 10px; 
            } 
        }
    }

    .shop {
        display: inline-block;
        vertical-align: top;
        margin-left: 70px;
        
        .header {
            text-align: center;
            a {
                display: block;
                padding-top: 30px;
                width: 713px;
                height: 90px; 
                background: @retro-red;
                text-decoration: none;
                color: #FEFEFE;
                font-size: 48px;
                border-radius: 10px;
            }  
        }

        .body {
            width: 716px; 
            height: 598px;
            background: @light-sand;
            border-radius: 10px;
            text-align: center;
            
            .options {
                float: left;
                margin-top: 10px;
                display: inline-block;
                .option {
                    width: 185px; 
                    height: 67px;
                    background: @retro-red;
                    color: #FEFEFE;
                    font-size: 30px;
                    border-radius: 10px;
                    padding: 1px;
                    text-align: center;
                    margin-top: 34px;
                    margin-left: 57px;
                    transition: all 0.5s;
                    p {
                        margin-top: 15px; 
                    }
                    &:hover {
                        background: @dark-sand; 
                        cursor: pointer;
                    }
                } 
            }
            .items {
                display: inline-block;
                width: 360px;
                .shop-img {
                    display: inline-block; 
                    width: 152px;
                    height: 100px;
                    margin: 25px 0;
                    background: #d9d9d9 url(../images/shop-item.png) no-repeat center center; 
                    border-radius: 10px;

                    &:nth-child(2n+1) {
                        margin-right: 25px; 
                    }
                    &:nth-child(2n) {
                        margin-left: 25px; 
                    }
 
                } 
            }
        }

    }
}

.workers {
    width: 1086px;
    height: 336px;
    background: @retro-red;
    text-align: center;
    margin: 140px auto 0 auto;

    .header {
        width: 390px; 
        height: 75px;
        border-radius: 30px;
        border: 1px solid @retro-blue;
        background: @light-sand;
        margin: 20px auto 0 auto;
        h1 {
            color: @retro-blue; 
            margin-top: 20px;
        }
    }

    .left-arrow {
        display: inline-block; 
        img {
            margin-bottom: 85px; 
            margin-right: 5px;
        }
    }
    .right-arrow {
        display: inline-block; 
        img {
            margin-bottom: 85px; 
            margin-left: 5px;
        }

    }

    .worker {
        display: inline-block;
        position: relative;
        margin: 0 21px;
        margin-top: 40px;
        .img {
            display: inline-block;
            width: 196px;
            height: 234px;
            border-radius: 10px;
            background: @light-sand;
            img {
                margin-top: -26px;
            }
        }
        a {
            text-align: center;
            display: block;
            width: 143px;
            height: 23px; 
            padding-top: 4px;
            margin: -20px auto 0 auto;
            z-index: 10;
            border-radius: 12px;
            background: @retro-blue;
            text-decoration: none;
            color: #FEFEFE;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 10px;
        }
    }
}

.separator {
    width: 942px;
    height: 64px;
    border-radius: 25px;
    background: @retro-blue;
    margin: 0 auto;
    text-align: center;
    margin-top: 125px;

    h1 {
        color: #FEFEFE; 
        padding-top: 13px;
    }
}

.price-list {
    width: 1086px;
    height: 720px;
    border-radius: 25px;
    margin: 117px auto 0 auto;
    background: @light-sand;
    text-align: center;
    .column {
        display: inline-block; 
        vertical-align: top;
        margin-top: 40px;
        .item {
             
            margin-top: 30px;
            .price {
                display: inline-block; 
                vertical-align: top;
                font-size: 30px;
                color: @retro-red;
            } 
            .dollar {
                display: inline-block; 
                vertical-align: top;
            }

            .name {
                display: inline-block;
                vertical-align: top;
                width: 219px;
                height: 68px;
                border-radius: 25px;
                background: @retro-blue; 
                text-align: center;
                h1 {
                    color: #FEFEFE; 
                    padding-top: 13px; 
                }
            }
        }
    }

    .column:nth-child(1) {
       margin-right: 30px;
       .item {
            .name {
                margin-right: 50px; 
            }
            .price {
                margin-right: 24px; 
            } 
       }  
    }

    .column:nth-child(3) {
       margin-left: 30px;
       .item {
            .name {
                margin-left: 50px; 
            } 
            .price {
                margin-left: 24px; 
            } 
       }  
    }

    .vertical-line {
        width: 28px;
        height: 447px;
        border-radius: 5px;
        background: @retro-red; 
        display: inline-block;
        margin-top: 110px;
        vertical-align: top;
    }
    .header {
        width: 529px;
        height: 125px;
        border-radius: 25px;
        background: @retro-red; 
        margin: 40px auto 0 auto;

        h1 {
            color: #FEFEFE; 
            font-size: 48px;
            font-weight: normal;
            padding-top: 30px;
        }
    }
}

.reviews {
    width: 1080px;
    height: 436px;
    border-radius: 25px;
    background: @retro-blue;
    padding: 1px;
    margin: 270px auto 0 auto;
    text-align: center;
    .header {
        a {
            display: block;
            width: 391px;
            height: 75px;
            border-radius: 25px;
            background: @light-sand;
            border: 1px solid @retro-blue;
            margin-top: -50px;
            margin-left: 86px;
            text-decoration: none;
            color: @retro-red;
            font-size: 48px;
            padding-top: 13px;
            text-align: center;
        }
    }

    .left-arrow {
        display: inline-block; 
        vertical-align: top;
        img {
            margin-top: 155px;
        }
    }
    
    .right-arrow {
        display: inline-block; 
        vertical-align: top;
        img {
            margin-top: 155px;
        }
    }
    .review {
        display: inline-block; 
        width: 442px;
        height: 289px;
        border-radius: 25px;
        background: @light-sand;
        margin: 45px 26px 0 26px;

        .name {
            width: 177px;
            height: 47px;
            border-radius: 18px;
            border: 1px solid @retro-blue; 
            background: @light-sand;
            margin: -24px auto 0 auto;
            color: @retro-red; 
            h1 {
                margin-top: 5px; 
                font-weight: normal;
            }
        }

        .stars {
            display: inline-block; 
            vertical-align: top;
            margin-left: 3px;
        }
        p {
            display: inline-block; 
            vertical-align: top;
            width: 297px;
            font-size: 21px;
            text-align: left;
            margin-left: 53px;
            margin-top: 10px;
            color: @retro-blue;
        }
    }
}

.feedback {
    width: 1085px;
    height: 460px;
    border-radius: 25px;
    border: 1px solid @retro-blue;
    background: @light-sand;
    margin: 234px auto 183px auto;
    text-align: center;

    .header {
        width: 388px;
        height: 86px;
        border-radius: 25px;
        background: @retro-red;       
        margin-top: -40px;
        margin-left: 625px;
        h1 {
            color: #FEFEFE; 
            font-weight: normal;
            font-size: 46px;
            text-align: center;
            padding-top: 13px;
        }
    }

    .block {
        display: inline-block;
        vertical-align: top; 
        margin: 50px 78px 0 78px;
        input {
            display: block; 
            font-size: 44px;
        }
        label {
            display: block; 
            font-size: 30px;
            text-align: left;
            margin-left: 15px;
            color: @retro-blue;
        }

        .hidden {
            display: none; 
        }

        .stars {
            .star {
                display: inline-block;
                vertical-align: top; 
                margin: 23px 11px 0 11px;
            } 
        }
        textarea {
            width: 377px;
            height: 137px;
            border-radius: 25px;
            border: 2px solid @retro-blue; 
            font-size: 20px; 
        }

    }

    .block:first-child {
        input {
            width: 341px;
            height: 73px;
            border-radius: 25px; 
            border: 1px solid @retro-blue;
        } 
        input:nth-child(4) {
            font-size: 24px; 
        } 
        label:nth-child(3) {
            margin-top: 54px; 
        }
    }

    .block:nth-child(2) {
        label:nth-child(4) {
            margin-top: 30px; 
        }
    }
}
