@retro-red: #991523;
@retro-blue: #013a45;
@light-sand: #f8f2e4;
@dark-sand: #a17c60;


body {
    font-family: 'Work Sans', sans-serif; 
}




.info-bar {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background: @retro-blue;
    width: 1053px;
    height: 70px;
    margin: 40px auto 0 auto;
    position: relative;
    text-align: center;

    h1 {
        margin-top: 15px;
        display: inline-block; 
        color: #FEFEFE;
        font-weight: normal;
    }

    h1:nth-child(1) {
        float: left;
        margin-left: 40px;
    }
    
    h1:nth-child(2) {
        position: absolute;
        left: 0;
        right: 0;
        font-size: 30px;
    }

    h1:nth-child(3) {
        float: right;
        margin-right: 40px;
    }
}

.about-us {
    text-align: center;
    a {
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        height: 36px; 
        width: 323px;
        background: @retro-red;
        display: block;
        margin: 30px auto 0 auto;
        color: #FEFEFE;
        border-radius: 10px;
        padding-top: 10px;
        font-size: 24px;
        text-decoration: none;
        transition: all 0.5s;
        &:hover {
            background: #FEFEFE; 
            color: @retro-red;
        }
    }    
}

.gallery {
    text-align: center;
    .img {
        display: inline-block;
        margin: 90px 38px 0 38px;

        img {
            width: 208px; 
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            height: 138px;
            border-radius: 10px;
        }
    }
    .left-arrow {
        display: inline-block;  
        margin-right: 38px;
        transition: all 0.5s;
        &:hover {
            box-shadow: 0 0 1px rgba(0,0,0,0.5); 
            cursor: pointer;
        }

    }   
    .right-arrow {
        display: inline-block; 
        margin-left: 38px;
        transition: all 0.5s;
        &:hover {
            box-shadow: 0 0 1px rgba(0,0,0,0.5); 
            cursor: pointer;
        }
    } 
}

.tiles-wrapper {
    text-align: center;
    .tile {
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        height: 433px;
        width: 314px;
        display: inline-block;
        vertical-align: top;
        margin: 136px auto 150px auto;
        border-radius: 10px;
    }
    p {
            width: 205px; 
            height: 120px;
            text-align: center;
            margin: 40px auto 0 auto;
            font-size: 20px;
            color: #FEFEFE;
            transition: all 0.5s;
    }  
    a {
            display: block;
            width: 200px; 
            height: 31px;
            border-radius: 10px;
            background: #FEFEFE;
            text-decoration: none;
            color: @retro-red;
            padding-top: 13px;
            margin: 0 auto;
            transition: all 0.5s;
            border: 1px solid #FEFEFE;
    }

    .garage-tile {
        margin-right: 70px; 
        background: @retro-red;

        .logo {
            width: 144px;
            height: 55px;
            border-radius: 10px;
            background: #FCFCFC;
            position: relative;
            background: #FCFCFC url(../images/garage-logo.png) no-repeat center center;
            border: 2px solid @retro-red;
            margin: -30px auto 0 auto;
        }
        .image {
            background: #FEFEFE url(../images/garage-moto.png) no-repeat center center;
            width: 205px;
            height: 158px;
            border-radius: 10px;
            margin: 20px auto 0 auto;
        } 
        a:hover {
            background: @retro-blue;
            color: #FEFEFE; 
        }
    }

    .bar-tile {
        background: @retro-blue;
        margin-left: 70px; 
        img {
            margin-top: -45px; 
        } 
        .bar-wrapper {
            width: 244px;
            height: 352px;
            border-radius: 10px; 
            border: 1px solid #FEFEFE;
            margin: 10px auto 0 auto;
        }

        h1 {
            display: block;
            width: 133px;
            height: 30px;
            border-top: 1px dashed #FEFEFE;
            border-bottom: 1px dashed #FEFEFE;
            padding-bottom: 5px;
            margin: 24px auto 0 auto;
            color: #FEFEFE;
            font-weight: normal;
        }
        a {
            color: @retro-blue; 
            margin-top: 63px;;
        }
        a:hover {
            background: @retro-red;
            color: #FEFEFE; 
        }
    }
}
