mixin menu-item(index, item) 
    div(class='img' value=item.name id=index)
        img(src='#{item.src}')

mixin cook(cook) 
    .cook
        .name
            - for (let i = 0; i < cook.name.length; i++) { 
              p=cook.name[i]
            - }

        .photo 
            img(src='#{cook.src}')
        
        .position 
            h1=cook.position 

mixin review (review)
     .wrapper 
        .stars 
           - for (let i = 0; i < review.stars; i++) {
                .star 
                    img(src='../images/star.png')
           - } 
        p=review.text 
        .name 
            - for (let i = 0; i < review.name.length; i++) { 
                p=review.name[i]
            - }



extends layout

block stylesheet
    link(rel='stylesheet' href='css/bar.css')
    link(rel="stylesheet" href="css/nav-footer.css")

block content

    .info-bar 
        h1 HUNGRY BIKER - NOT A BIKER

    .menu-gallery 
            div(class='left-arrow') 
                img(src='images/left-arrow-red-small.png')
            .items
                each item, index in menu
                    +menu-item(index, item)

            div(class='right-arrow')
                img(src='images/right-arrow-red-small.png')
    
    .banner-menu-sections
        .banner 
            img(src='#')

        .menu-sections 
            .header
                a(href='#') Menu
            .sections    
                - for (let i = 0; i < 9; i++) {
                     h1 section
                - }

    .chief 
        .header 
            h1 Our chief 
        .photo
            img(src='images/worker.png')
            h1 Name

        .description 
            h1 God chicken
            p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    .cooks-reviews
        .cooks 
            .header 
                a(href='#') COOKS  
             
            .top-arrow
                img(src='images/top-arrow.png')
            each cook in cooks 
                +cook(cook)
            .bottom-arrow
                img(src='images/bottom-arrow.png')

        .reviews 
            .top-arrow
                img(src='images/top-arrow.png')
            each review in reviews 
                +review(review)
            .bottom-arrow
                img(src='images/bottom-arrow.png')
            .header 
                a(href='#') Reviews 

    .feedback 
            .header 
                h1 Your Feedback 
            form(
                 onsubmit='return validate(this)'
                 action='/addreview' 
                 methon='POST'
            )
                .block   
                    label(for='name' id='review-name') Name 
                    input(type='text' name='name' maxlength='15')

                    label(for='e-mail' id='review-email') E-mail 
                    input(type='text' name='email')
                .block 
                    label(for='rate' id='review-rate') Rate us 
                    input(class='hidden' type='number' name='rate') 
                    
                    label(for='review-text' id='review-text') Review 
                    textarea(name='text' cols='20' rows='5')
