extends layout

mixin gallery-image(src) 
    .img 
       img(src='#{src}') 

mixin shop-image(src) 
        img(src='#{src}')

mixin worker(worker)
    .worker
        .img 
            img(src='#{worker.src}')
        .position
            a(href='#')=worker.position 

mixin price-list-left (item)
    .item 
        .name 
            h1=item.name 
        .price
            h1=item.price 
        .dollar 
            img(src='../images/dollar-sign.png')  

mixin price-list-right (item)
    .item 
        .dollar
            img(src='../images/dollar-sign.png')  
        .price
            h1=item.price 
        .name 
            h1=item.name 

mixin review (review) 
    .review 
        .name 
            h1=review.name 
        .stars
           - for (let i = 0; i < review.stars; i++) {
            .star 
                img(src='../images/star.png')
           - } 
        p=review.text
            

block stylesheet
    link(rel='stylesheet' href='css/garage.css')
    link(rel="stylesheet" href="css/nav-footer.css")

block content 
    
    .gallery-shop  
        .gallery 
            .top-arrow
                img(src='images/top-arrow.png')
            each src in images 
                +gallery-image(src)
            .bottom-arrow
                img(src='images/bottom-arrow.png')
           
        .shop 
            .body 
                .header
                    a(href='#') SHOP 
     
                .options 
                    .option 
                        p Option
                    .option 
                        p Option
                    .option 
                        p Option
                    .option 
                        p Option
                .items
                    .shop-img 
                    .shop-img 
                    .shop-img 
                    .shop-img 
                    .shop-img 
                    .shop-img 
            
    .workers 
        .left-arrow 
            img(src='images/left-arrow-small.png')

        each worker in workers 
            +worker(worker)

        .right-arrow
            img(src='images/right-arrow-small.png')
        .header 
            h1 WORKERS 

    .separator 
        h1 --

    .price-list 
        .column 
            - for (let i = 0; i < items.length; i++) {
               - if (i < 5) {
                   +price-list-left(items[i])
               - } 
            - }
        .vertical-line
        .column 
            - for (let i = 0; i < items.length; i++) {
               - if (i >= 5) {
                   +price-list-right(items[i])
               - } 
            - }
        .header  
            h1 PRICE LIST  
    
    .reviews 
        .header 
            a(href='#') Reviews

        .left-arrow 
            img(src='images/left-arrow-small.png')

        each review in reviews  
            +review(review)

        .right-arrow
            img(src='images/right-arrow-small.png')
    
    .feedback 
        .header 
            h1 Your Feedback 
        form(
        onsubmit='return validate(this)'
        action='/addreview' 
        method='POST'
        )
            .block   
                label(for='name' id='review-name') Name 
                input(type='text' name='name' maxlength='15')

                label(for='e-mail' id='review-email') E-mail 
                input(type='text' name='email')
            .block 
                label(for='rate' id='review-rate') Rate us 
                input(class='hidden' type='number' name='rate') 
                .stars 
                    .star 
                        img(src='images/star.png') 
                    .star 
                        img(src='images/star.png') 
                    .star 
                        img(src='images/star.png') 
                    .star 
                        img(src='images/star.png') 
                    .star 
                        img(src='images/star.png') 
                
                label(for='review-text' id='review-text') Review 
                textarea(name='text' cols='20' rows='5')

