mixin galleryImg(src) 
    div(class='img') 
        img(src='#{src}')
        
extend layout
block stylesheet 
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="css/nav-footer.css")
block content 
    div(class="info-bar")
        h1(class='left-align') BIG DAVE
        h1(class='center-align') SINCE 1986
        h1(class='right-align') BAR

    div(class='about-us')
        a(href='#') About us

    div(class='gallery') 
        div(class='left-arrow') 
            img(src='images/left-arrow.png')
        each src in images 
            +galleryImg(src)
        div(class='right-arrow')
            img(src='images/right-arrow.png')

    div(class='tiles-wrapper')
        div(class='tile garage-tile')
            div.logo
            div.image 
            p. 
                Some some 
                some some some 
                some some some 
                some some some 
            a(href='#') Show garage

        div(class='tile bar-tile')
            img(src='images/bar-logo.png')
            div.bar-wrapper
                h1 BAR
                p. 
                    Some some 
                    some some some 
                    some some some 
                    some some some 

                a(href='#') Show more
