doctype
html
  head 
    title #{title}
    meta(charset='utf-8')
    meta(
    name="viewport" 
    content="width=device-width, initial-scale=1, shirink-to-fit=no"
    )

    link(rel="stylesheet" href="css/reset.css")
    link(href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet")
    block stylesheet
    script(src='js/jquery.min.js')
  body
    nav
        div.nav-wrapper
            
                - if (type == 'home') {
                    a(href='garage') Garage 
                    a(href='#') About us
                    div.logo
                         img(src="images/logo.png")
                    a(href='#') Contacts
                    a(href='bar') Bar
        

                - } else if (type == 'bar') {
                    
                    a(href='/') Home
                    a(href='#') Cooks
                    a(href='#') Menu
                    div.logo
                         img(src="images/logo.png")
                    a(href='#') Our chief
                    a(href='#') Rewiews
                    a(href='garage') Garage

                - } else if (type == 'garage') {

                    a(href='/') Home
                    a(href='workers') Workers
                    a(href='bar') Bar 
                    div.logo
                         img(src="images/logo.png")
                    a(href='#') Pricelist
                    a(href='#') Shop 
                    a(href='#') Rewiews

                - }
         
    block content 
    footer 
        a(href='#') Contact us 
        a(href='#') &copy; 2018 Big Dave 
        a(href='#') Privacy Policy
            
