body {
  font-family: 'Work Sans', sans-serif;
}
.info-bar {
  width: 1080px;
  height: 98px;
  border-radius: 10px;
  background: #991523;
  margin: 75px auto 0 auto;
  text-align: center;
}
.info-bar h1 {
  color: #FEFEFE;
  font-size: 48px;
  font-weight: normal;
  padding-top: 20px;
}
.menu-gallery {
  width: 753px;
  margin: 24px auto 0 auto;
  text-align: center;
}
.menu-gallery .left-arrow {
  display: inline-block;
  vertical-align: top;
}
.menu-gallery .left-arrow img {
  margin-top: 150px;
}
.menu-gallery .right-arrow {
  display: inline-block;
  vertical-align: top;
}
.menu-gallery .right-arrow img {
  margin-top: 150px;
}
.menu-gallery .items {
  width: 700px;
  display: inline-block;
  vertical-align: top;
}
.menu-gallery .items .img {
  display: inline-block;
  vertical-align: top;
  width: 178px;
  height: 116px;
  border-radius: 25px;
  background: #013a45;
  margin: 29px 25px;
}
.menu-gallery .items .img img {
  margin-top: 15px;
}
.banner-menu-sections {
  text-align: center;
  margin-top: 60px;
}
.banner-menu-sections .banner {
  width: 281px;
  height: 356px;
  border-radius: 10px;
  background: #991523;
  display: inline-block;
  vertical-align: top;
}
.banner-menu-sections .menu-sections {
  width: 787px;
  height: 356px;
  border-radius: 10px;
  background: #f8f2e4;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.banner-menu-sections .menu-sections .header a {
  display: block;
  text-decoration: none;
  width: 232px;
  height: 50px;
  border-radius: 25px;
  background: #991523;
  color: #FEFEFE;
  font-weight: normal;
  font-size: 36px;
  padding-top: 5px;
  margin: 22px auto 0 auto;
  transition: all 0.5s;
}
.banner-menu-sections .menu-sections .header a:hover {
  background: #FEFEFE;
  color: #991523;
}
.banner-menu-sections .menu-sections .sections {
  margin-top: 14px;
}
.banner-menu-sections .menu-sections .sections h1 {
  display: inline-block;
  width: 184px;
  height: 42px;
  background: #991523;
  border-radius: 10px;
  color: #FEFEFE;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  padding-top: 8px;
  margin: 15px 32px;
  transition: all 0.5s;
}
.banner-menu-sections .menu-sections .sections h1:hover {
  background: #013a45;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.chief {
  width: 1086px;
  height: 336px;
  border-radius: 10px;
  background: #013a45;
  margin: 150px auto 0 auto;
  padding: 1px;
}
.chief .header {
  width: 300px;
  height: 92px;
  border-radius: 25px;
  background: #f8f2e4;
  border: 1px solid #013a45;
  margin: -40px 0 0 726px;
}
.chief .header h1 {
  color: #991523;
  font-weight: normal;
  text-align: center;
  padding-top: 4px;
}
.chief .photo {
  width: 196px;
  position: relative;
  height: 234px;
  background: #f8f2e4;
  border-radius: 25px;
  margin-left: 35px;
  display: inline-block;
  vertical-align: top;
}
.chief .photo img {
  margin-top: -12px;
  margin-left: -5px;
  transform: scale(0.9);
  border-radius: 10px;
}
.chief .photo h1 {
  display: block;
  width: 143px;
  height: 24px;
  background: #f8f2e4;
  text-align: center;
  border-radius: 11px;
  margin: -40px auto 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  color: #013a45;
  font-size: 18px;
  padding-top: 3px;
}
.chief .description {
  display: inline-block;
  width: 705px;
  color: #FEFEFE;
  margin-left: 57px;
}
.chief .description h1 {
  text-align: center;
}
.chief .description p {
  text-align: left;
  font-size: 24px;
}
.cooks-reviews {
  text-align: center;
  margin-top: 170px;
}
.cooks-reviews .cooks,
.cooks-reviews .reviews {
  width: 460px;
  height: 692px;
  border-radius: 25px;
  display: inline-block;
  vertical-align: top;
}
.cooks-reviews .cooks {
  background: #991523;
  margin-right: 32px;
}
.cooks-reviews .cooks .header a {
  display: block;
  width: 217px;
  height: 50px;
  border-radius: 25px;
  background: #f8f2e4;
  border: 1px solid #991523;
  text-decoration: none;
  color: #991523;
  font-size: 30px;
  padding-top: 15px;
  margin: -33px auto 0 auto;
}
.cooks-reviews .cooks .top-arrow {
  margin-top: 20px;
}
.cooks-reviews .cooks .cook {
  width: 330px;
  height: 208px;
  background: #f8f2e4;
  border-radius: 25px;
  padding: 1px;
  margin: 45px auto;
}
.cooks-reviews .cooks .cook .name {
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 130px;
  background: #f8f2e4;
  border-radius: 10px;
  border: 1px solid #991523;
  margin-left: -20px;
  margin-top: 33px;
}
.cooks-reviews .cooks .cook .name p {
  font-size: 18px;
  color: #991523;
}
.cooks-reviews .cooks .cook .name p:first-child {
  margin-top: 20px;
}
.cooks-reviews .cooks .cook .photo {
  display: inline-block;
  width: 165px;
  height: 131px;
  border-radius: 25px;
  background: #FEFEFE;
  margin-top: 36px;
  margin-left: 10px;
}
.cooks-reviews .cooks .cook .photo img {
  transform: scale(0.75);
  margin-top: -13px;
}
.cooks-reviews .cooks .cook .position {
  display: inline-block;
  vertical-align: top;
  width: 102px;
  height: 38px;
  border-radius: 19px;
  background: #991523;
  margin-left: 15px;
  margin-top: 85px;
}
.cooks-reviews .cooks .cook .position h1 {
  font-size: 20px;
  font-weight: normal;
  color: #FEFEFE;
  margin-top: 5px;
}
.cooks-reviews .reviews {
  background: #013a45;
  margin-left: 32px;
}
.cooks-reviews .reviews .top-arrow {
  margin-top: 40px;
}
.cooks-reviews .reviews .wrapper {
  width: 328px;
  height: 228px;
  border-radius: 25px;
  margin: 26px auto;
  background: #f8f2e4;
}
.cooks-reviews .reviews .wrapper .stars {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}
.cooks-reviews .reviews .wrapper .stars .star {
  margin-top: -10px;
}
.cooks-reviews .reviews .wrapper .stars .star img {
  transform: scale(0.8);
}
.cooks-reviews .reviews .wrapper p {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  font-size: 18px;
  text-align: left;
  margin-left: 13px;
  margin-top: 10px;
  color: #013a45;
}
.cooks-reviews .reviews .wrapper .name {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 150px;
  border-radius: 15px;
  background: #013a45;
  border: 1px solid #FEFEFE;
  margin: 36px -35px 0 35px;
}
.cooks-reviews .reviews .wrapper .name p {
  color: #FEFEFE;
  margin: 0;
  font-size: 24px;
  margin-left: 14px;
}
.cooks-reviews .reviews .wrapper .name p:first-child {
  margin-top: 16px;
}
.cooks-reviews .reviews .header a {
  display: block;
  width: 287px;
  height: 52px;
  border-radius: 25px;
  background: #f8f2e4;
  border: 1px solid #013a45;
  color: #991523;
  text-decoration: none;
  font-size: 36px;
  padding-top: 7px;
  margin: 30px auto 0 auto;
}
.feedback {
  width: 1085px;
  height: 460px;
  border-radius: 25px;
  border: 1px solid #013a45;
  background: #f8f2e4;
  margin: 234px auto 183px auto;
  text-align: center;
}
.feedback .header {
  width: 388px;
  height: 86px;
  border-radius: 25px;
  background: #991523;
  margin-top: -40px;
  margin-left: 625px;
}
.feedback .header h1 {
  color: #FEFEFE;
  font-weight: normal;
  font-size: 46px;
  text-align: center;
  padding-top: 13px;
}
.feedback .block {
  display: inline-block;
  vertical-align: top;
  margin: 50px 78px 0 78px;
}
.feedback .block input {
  display: block;
  font-size: 44px;
}
.feedback .block label {
  display: block;
  font-size: 30px;
  text-align: left;
  margin-left: 15px;
  color: #013a45;
}
.feedback .block .hidden {
  display: none;
}
.feedback .block .stars .star {
  display: inline-block;
  vertical-align: top;
  margin: 23px 11px 0 11px;
}
.feedback .block textarea {
  width: 377px;
  height: 137px;
  border-radius: 25px;
  border: 2px solid #013a45;
  font-size: 20px;
}
.feedback .block:first-child input {
  width: 341px;
  height: 73px;
  border-radius: 25px;
  border: 1px solid #013a45;
}
.feedback .block:first-child input:nth-child(4) {
  font-size: 24px;
}
.feedback .block:first-child label:nth-child(3) {
  margin-top: 54px;
}
.feedback .block:nth-child(2) label:nth-child(4) {
  margin-top: 30px;
}
