body {
  font-family: 'Work Sans', sans-serif;
}
body h1 {
  margin: 0;
}
.gallery-shop {
  margin-top: 86px;
  text-align: center;
}
.gallery-shop .gallery {
  width: 300px;
  height: 600px;
  border-radius: 10px;
  background: #013a45;
  padding: 1px;
  display: inline-block;
  vertical-align: top;
}
.gallery-shop .gallery .top-arrow {
  margin-top: 20px;
  text-align: center;
}
.gallery-shop .gallery .bottom-arrow {
  margin-top: 20px;
  text-align: center;
}
.gallery-shop .gallery .img {
  margin-top: 20px;
  text-align: center;
}
.gallery-shop .gallery .img img {
  border-radius: 10px;
}
.gallery-shop .shop {
  display: inline-block;
  vertical-align: top;
  margin-left: 70px;
}
.gallery-shop .shop .header {
  text-align: center;
}
.gallery-shop .shop .header a {
  display: block;
  padding-top: 30px;
  width: 713px;
  height: 90px;
  background: #991523;
  text-decoration: none;
  color: #FEFEFE;
  font-size: 48px;
  border-radius: 10px;
}
.gallery-shop .shop .body {
  width: 716px;
  height: 598px;
  background: #f8f2e4;
  border-radius: 10px;
  text-align: center;
}
.gallery-shop .shop .body .options {
  float: left;
  margin-top: 10px;
  display: inline-block;
}
.gallery-shop .shop .body .options .option {
  width: 185px;
  height: 67px;
  background: #991523;
  color: #FEFEFE;
  font-size: 30px;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
  margin-top: 34px;
  margin-left: 57px;
  transition: all 0.5s;
}
.gallery-shop .shop .body .options .option p {
  margin-top: 15px;
}
.gallery-shop .shop .body .options .option:hover {
  background: #a17c60;
  cursor: pointer;
}
.gallery-shop .shop .body .items {
  display: inline-block;
  width: 360px;
}
.gallery-shop .shop .body .items .shop-img {
  display: inline-block;
  width: 152px;
  height: 100px;
  margin: 25px 0;
  background: #d9d9d9 url(../images/shop-item.png) no-repeat center center;
  border-radius: 10px;
}
.gallery-shop .shop .body .items .shop-img:nth-child(2n+1) {
  margin-right: 25px;
}
.gallery-shop .shop .body .items .shop-img:nth-child(2n) {
  margin-left: 25px;
}
.workers {
  width: 1086px;
  height: 336px;
  background: #991523;
  text-align: center;
  margin: 140px auto 0 auto;
}
.workers .header {
  width: 390px;
  height: 75px;
  border-radius: 30px;
  border: 1px solid #013a45;
  background: #f8f2e4;
  margin: 20px auto 0 auto;
}
.workers .header h1 {
  color: #013a45;
  margin-top: 20px;
}
.workers .left-arrow {
  display: inline-block;
}
.workers .left-arrow img {
  margin-bottom: 85px;
  margin-right: 5px;
}
.workers .right-arrow {
  display: inline-block;
}
.workers .right-arrow img {
  margin-bottom: 85px;
  margin-left: 5px;
}
.workers .worker {
  display: inline-block;
  position: relative;
  margin: 0 21px;
  margin-top: 40px;
}
.workers .worker .img {
  display: inline-block;
  width: 196px;
  height: 234px;
  border-radius: 10px;
  background: #f8f2e4;
}
.workers .worker .img img {
  margin-top: -26px;
}
.workers .worker a {
  text-align: center;
  display: block;
  width: 143px;
  height: 23px;
  padding-top: 4px;
  margin: -20px auto 0 auto;
  z-index: 10;
  border-radius: 12px;
  background: #013a45;
  text-decoration: none;
  color: #FEFEFE;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.separator {
  width: 942px;
  height: 64px;
  border-radius: 25px;
  background: #013a45;
  margin: 0 auto;
  text-align: center;
  margin-top: 125px;
}
.separator h1 {
  color: #FEFEFE;
  padding-top: 13px;
}
.price-list {
  width: 1086px;
  height: 720px;
  border-radius: 25px;
  margin: 117px auto 0 auto;
  background: #f8f2e4;
  text-align: center;
}
.price-list .column {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}
.price-list .column .item {
  margin-top: 30px;
}
.price-list .column .item .price {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  color: #991523;
}
.price-list .column .item .dollar {
  display: inline-block;
  vertical-align: top;
}
.price-list .column .item .name {
  display: inline-block;
  vertical-align: top;
  width: 219px;
  height: 68px;
  border-radius: 25px;
  background: #013a45;
  text-align: center;
}
.price-list .column .item .name h1 {
  color: #FEFEFE;
  padding-top: 13px;
}
.price-list .column:nth-child(1) {
  margin-right: 30px;
}
.price-list .column:nth-child(1) .item .name {
  margin-right: 50px;
}
.price-list .column:nth-child(1) .item .price {
  margin-right: 24px;
}
.price-list .column:nth-child(3) {
  margin-left: 30px;
}
.price-list .column:nth-child(3) .item .name {
  margin-left: 50px;
}
.price-list .column:nth-child(3) .item .price {
  margin-left: 24px;
}
.price-list .vertical-line {
  width: 28px;
  height: 447px;
  border-radius: 5px;
  background: #991523;
  display: inline-block;
  margin-top: 110px;
  vertical-align: top;
}
.price-list .header {
  width: 529px;
  height: 125px;
  border-radius: 25px;
  background: #991523;
  margin: 40px auto 0 auto;
}
.price-list .header h1 {
  color: #FEFEFE;
  font-size: 48px;
  font-weight: normal;
  padding-top: 30px;
}
.reviews {
  width: 1080px;
  height: 436px;
  border-radius: 25px;
  background: #013a45;
  padding: 1px;
  margin: 270px auto 0 auto;
  text-align: center;
}
.reviews .header a {
  display: block;
  width: 391px;
  height: 75px;
  border-radius: 25px;
  background: #f8f2e4;
  border: 1px solid #013a45;
  margin-top: -50px;
  margin-left: 86px;
  text-decoration: none;
  color: #991523;
  font-size: 48px;
  padding-top: 13px;
  text-align: center;
}
.reviews .left-arrow {
  display: inline-block;
  vertical-align: top;
}
.reviews .left-arrow img {
  margin-top: 155px;
}
.reviews .right-arrow {
  display: inline-block;
  vertical-align: top;
}
.reviews .right-arrow img {
  margin-top: 155px;
}
.reviews .review {
  display: inline-block;
  width: 442px;
  height: 289px;
  border-radius: 25px;
  background: #f8f2e4;
  margin: 45px 26px 0 26px;
}
.reviews .review .name {
  width: 177px;
  height: 47px;
  border-radius: 18px;
  border: 1px solid #013a45;
  background: #f8f2e4;
  margin: -24px auto 0 auto;
  color: #991523;
}
.reviews .review .name h1 {
  margin-top: 5px;
  font-weight: normal;
}
.reviews .review .stars {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}
.reviews .review p {
  display: inline-block;
  vertical-align: top;
  width: 297px;
  font-size: 21px;
  text-align: left;
  margin-left: 53px;
  margin-top: 10px;
  color: #013a45;
}
.feedback {
  width: 1085px;
  height: 460px;
  border-radius: 25px;
  border: 1px solid #013a45;
  background: #f8f2e4;
  margin: 234px auto 183px auto;
  text-align: center;
}
.feedback .header {
  width: 388px;
  height: 86px;
  border-radius: 25px;
  background: #991523;
  margin-top: -40px;
  margin-left: 625px;
}
.feedback .header h1 {
  color: #FEFEFE;
  font-weight: normal;
  font-size: 46px;
  text-align: center;
  padding-top: 13px;
}
.feedback .block {
  display: inline-block;
  vertical-align: top;
  margin: 50px 78px 0 78px;
}
.feedback .block input {
  display: block;
  font-size: 44px;
}
.feedback .block label {
  display: block;
  font-size: 30px;
  text-align: left;
  margin-left: 15px;
  color: #013a45;
}
.feedback .block .hidden {
  display: none;
}
.feedback .block .stars .star {
  display: inline-block;
  vertical-align: top;
  margin: 23px 11px 0 11px;
}
.feedback .block textarea {
  width: 377px;
  height: 137px;
  border-radius: 25px;
  border: 2px solid #013a45;
  font-size: 20px;
}
.feedback .block:first-child input {
  width: 341px;
  height: 73px;
  border-radius: 25px;
  border: 1px solid #013a45;
}
.feedback .block:first-child input:nth-child(4) {
  font-size: 24px;
}
.feedback .block:first-child label:nth-child(3) {
  margin-top: 54px;
}
.feedback .block:nth-child(2) label:nth-child(4) {
  margin-top: 30px;
}
