footer {
  width: 100%;
  height: 145px;
  background: #991523;
  text-align: center;
}
footer a {
  display: inline-block;
  color: #FEFEFE;
  margin-top: 55px;
  text-decoration: none;
  font-size: 24px;
}
footer a:nth-child(1) {
  float: left;
  margin-left: 90px;
}
footer a:nth-child(2) {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 30px;
  margin-top: 75px;
}
footer a:nth-child(3) {
  float: right;
  margin-right: 90px;
}
.nav-wrapper {
  text-align: center;
  list-style-type: none;
  background: #991523;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}
.nav-wrapper a {
  display: block;
  text-decoration: none;
  color: #FEFEFE;
  font-size: 1.3em;
  line-height: 50px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  transition: background 0.5s, color 0.5s;
  margin: 0 5px;
}
.nav-wrapper a:hover {
  background: #FEFEFE;
  color: #853037;
}
.nav-wrapper .logo {
  transform: scale(0.5);
  width: auto;
  height: auto;
}
.nav-wrapper .logo img {
  border-radius: 60px;
}
