body {
  font-family: 'Work Sans', sans-serif;
}
.info-bar {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: #013a45;
  width: 1053px;
  height: 70px;
  margin: 40px auto 0 auto;
  position: relative;
  text-align: center;
}
.info-bar h1 {
  margin-top: 15px;
  display: inline-block;
  color: #FEFEFE;
  font-weight: normal;
}
.info-bar h1:nth-child(1) {
  float: left;
  margin-left: 40px;
}
.info-bar h1:nth-child(2) {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 30px;
}
.info-bar h1:nth-child(3) {
  float: right;
  margin-right: 40px;
}
.about-us {
  text-align: center;
}
.about-us a {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  height: 36px;
  width: 323px;
  background: #991523;
  display: block;
  margin: 30px auto 0 auto;
  color: #FEFEFE;
  border-radius: 10px;
  padding-top: 10px;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.5s;
}
.about-us a:hover {
  background: #FEFEFE;
  color: #991523;
}
.gallery {
  text-align: center;
}
.gallery .img {
  display: inline-block;
  margin: 90px 38px 0 38px;
}
.gallery .img img {
  width: 208px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: 138px;
  border-radius: 10px;
}
.gallery .left-arrow {
  display: inline-block;
  margin-right: 38px;
  transition: all 0.5s;
}
.gallery .left-arrow:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.gallery .right-arrow {
  display: inline-block;
  margin-left: 38px;
  transition: all 0.5s;
}
.gallery .right-arrow:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.tiles-wrapper {
  text-align: center;
}
.tiles-wrapper .tile {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  height: 433px;
  width: 314px;
  display: inline-block;
  vertical-align: top;
  margin: 136px auto 150px auto;
  border-radius: 10px;
}
.tiles-wrapper p {
  width: 205px;
  height: 120px;
  text-align: center;
  margin: 40px auto 0 auto;
  font-size: 20px;
  color: #FEFEFE;
  transition: all 0.5s;
}
.tiles-wrapper a {
  display: block;
  width: 200px;
  height: 31px;
  border-radius: 10px;
  background: #FEFEFE;
  text-decoration: none;
  color: #991523;
  padding-top: 13px;
  margin: 0 auto;
  transition: all 0.5s;
  border: 1px solid #FEFEFE;
}
.tiles-wrapper .garage-tile {
  margin-right: 70px;
  background: #991523;
}
.tiles-wrapper .garage-tile .logo {
  width: 144px;
  height: 55px;
  border-radius: 10px;
  background: #FCFCFC;
  position: relative;
  background: #FCFCFC url(../images/garage-logo.png) no-repeat center center;
  border: 2px solid #991523;
  margin: -30px auto 0 auto;
}
.tiles-wrapper .garage-tile .image {
  background: #FEFEFE url(../images/garage-moto.png) no-repeat center center;
  width: 205px;
  height: 158px;
  border-radius: 10px;
  margin: 20px auto 0 auto;
}
.tiles-wrapper .garage-tile a:hover {
  background: #013a45;
  color: #FEFEFE;
}
.tiles-wrapper .bar-tile {
  background: #013a45;
  margin-left: 70px;
}
.tiles-wrapper .bar-tile img {
  margin-top: -45px;
}
.tiles-wrapper .bar-tile .bar-wrapper {
  width: 244px;
  height: 352px;
  border-radius: 10px;
  border: 1px solid #FEFEFE;
  margin: 10px auto 0 auto;
}
.tiles-wrapper .bar-tile h1 {
  display: block;
  width: 133px;
  height: 30px;
  border-top: 1px dashed #FEFEFE;
  border-bottom: 1px dashed #FEFEFE;
  padding-bottom: 5px;
  margin: 24px auto 0 auto;
  color: #FEFEFE;
  font-weight: normal;
}
.tiles-wrapper .bar-tile a {
  color: #013a45;
  margin-top: 63px;
}
.tiles-wrapper .bar-tile a:hover {
  background: #991523;
  color: #FEFEFE;
}
